In [36]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/OswaldoYair/searchMoreSalud/main/demojpy/Datasets%20Protecto%20mes%202/MY2022%20Fuel%20Consumption%20Ratings.csv')

In [37]:
#Tratamiento de los valores nulos
df.isna().sum()

Model Year                            0
Make                                  0
Model                                11
Vehicle Class                        16
Engine Size(L)                        0
Cylinders                            13
Transmission                         17
Fuel Type                             0
Fuel Consumption (City (L/100 km)    18
Fuel Consumption(Hwy (L/100 km))     19
Fuel Consumption(Comb (L/100 km))     0
Fuel Consumption(Comb (mpg))          0
CO2 Emissions(g/km)                   0
CO2 Rating                            0
Smog Rating                           0
dtype: int64

In [38]:
#Atributo Model o modelo - Nueva clase
df['Model']=df['Model'].fillna('Desconocido')
df.isnull().sum()

Model Year                            0
Make                                  0
Model                                 0
Vehicle Class                        16
Engine Size(L)                        0
Cylinders                            13
Transmission                         17
Fuel Type                             0
Fuel Consumption (City (L/100 km)    18
Fuel Consumption(Hwy (L/100 km))     19
Fuel Consumption(Comb (L/100 km))     0
Fuel Consumption(Comb (mpg))          0
CO2 Emissions(g/km)                   0
CO2 Rating                            0
Smog Rating                           0
dtype: int64

In [39]:
#Atributo Vehicle Class - Moda
df['Vehicle Class']=df['Vehicle Class'].fillna(df['Vehicle Class'].mode()[0])
df.isnull().sum()

Model Year                            0
Make                                  0
Model                                 0
Vehicle Class                         0
Engine Size(L)                        0
Cylinders                            13
Transmission                         17
Fuel Type                             0
Fuel Consumption (City (L/100 km)    18
Fuel Consumption(Hwy (L/100 km))     19
Fuel Consumption(Comb (L/100 km))     0
Fuel Consumption(Comb (mpg))          0
CO2 Emissions(g/km)                   0
CO2 Rating                            0
Smog Rating                           0
dtype: int64

In [40]:
#Atributo Cylinders - Media
df['Cylinders']=df['Cylinders'].fillna(df['Cylinders'].median())
df.isnull().sum()

Model Year                            0
Make                                  0
Model                                 0
Vehicle Class                         0
Engine Size(L)                        0
Cylinders                             0
Transmission                         17
Fuel Type                             0
Fuel Consumption (City (L/100 km)    18
Fuel Consumption(Hwy (L/100 km))     19
Fuel Consumption(Comb (L/100 km))     0
Fuel Consumption(Comb (mpg))          0
CO2 Emissions(g/km)                   0
CO2 Rating                            0
Smog Rating                           0
dtype: int64

In [41]:
#Atributo Transmission - Moda
df['Transmission']=df['Transmission'].fillna(df['Transmission'].mode()[0])
df.isnull().sum()

Model Year                            0
Make                                  0
Model                                 0
Vehicle Class                         0
Engine Size(L)                        0
Cylinders                             0
Transmission                          0
Fuel Type                             0
Fuel Consumption (City (L/100 km)    18
Fuel Consumption(Hwy (L/100 km))     19
Fuel Consumption(Comb (L/100 km))     0
Fuel Consumption(Comb (mpg))          0
CO2 Emissions(g/km)                   0
CO2 Rating                            0
Smog Rating                           0
dtype: int64

In [42]:
#Atributo Fuel Consumption (City (L/100 km) y Fuel Consumption(Hwy (L/100 km))
df['Fuel Consumption (City (L/100 km)']=df['Fuel Consumption (City (L/100 km)'].fillna(df['Fuel Consumption (City (L/100 km)'].mean())
df['Fuel Consumption(Hwy (L/100 km))']=df['Fuel Consumption(Hwy (L/100 km))'].fillna(df['Fuel Consumption(Hwy (L/100 km))'].mean())
df.isnull().sum()

Model Year                           0
Make                                 0
Model                                0
Vehicle Class                        0
Engine Size(L)                       0
Cylinders                            0
Transmission                         0
Fuel Type                            0
Fuel Consumption (City (L/100 km)    0
Fuel Consumption(Hwy (L/100 km))     0
Fuel Consumption(Comb (L/100 km))    0
Fuel Consumption(Comb (mpg))         0
CO2 Emissions(g/km)                  0
CO2 Rating                           0
Smog Rating                          0
dtype: int64

In [43]:
#Codificacion Fuel type - One hot
df4 = pd.get_dummies(df, columns=['Fuel Type'], dtype=int)
df4.head()

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating,Fuel Type_D,Fuel Type_E,Fuel Type_X,Fuel Type_Z
0,2022,Acura,ILX,Compact,2.4,4.0,AM8,9.900000,7.0,8.6,33,200,6,3,0,0,0,1
1,2022,Acura,MDX SH-AWD,SUV: Small,3.5,6.0,AS10,12.600000,9.4,11.2,25,263,4,5,0,0,0,1
2,2022,Acura,RDX SH-AWD,SUV: Small,2.0,4.0,AS10,12.515948,8.6,9.9,29,232,5,6,0,0,0,1
3,2022,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4.0,AS10,11.300000,9.1,10.3,27,242,5,6,0,0,0,1
4,2022,Acura,TLX SH-AWD,Compact,2.0,4.0,AS10,11.200000,8.0,9.8,29,230,5,7,0,0,0,1

In [44]:
# Calcular la frecuencia de cada categoría de la clase Transmission
frecuencia = df4['Transmission'].value_counts(normalize=True).to_dict()
# Mapear la frecuencia de cada categoría al atributo
df4['Transmission'] = df4['Transmission'].map(frecuencia)

df4.head()

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating,Fuel Type_D,Fuel Type_E,Fuel Type_X,Fuel Type_Z
0,2022,Acura,ILX,Compact,2.4,4.0,0.054968,9.900000,7.0,8.6,33,200,6,3,0,0,0,1
1,2022,Acura,MDX SH-AWD,SUV: Small,3.5,6.0,0.089852,12.600000,9.4,11.2,25,263,4,5,0,0,0,1
2,2022,Acura,RDX SH-AWD,SUV: Small,2.0,4.0,0.089852,12.515948,8.6,9.9,29,232,5,6,0,0,0,1
3,2022,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4.0,0.089852,11.300000,9.1,10.3,27,242,5,6,0,0,0,1
4,2022,Acura,TLX SH-AWD,Compact,2.0,4.0,0.089852,11.200000,8.0,9.8,29,230,5,7,0,0,0,1

In [45]:
# Calcular la frecuencia de cada categoría de la clase Vehicle class
frecuencia = df4['Vehicle Class'].value_counts(normalize=True).to_dict()
# Mapear la frecuencia de cada categoría al atributo
df4['Vehicle Class'] = df4['Vehicle Class'].map(frecuencia)

df4.head()

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating,Fuel Type_D,Fuel Type_E,Fuel Type_X,Fuel Type_Z
0,2022,Acura,ILX,0.070825,2.4,4.0,0.054968,9.900000,7.0,8.6,33,200,6,3,0,0,0,1
1,2022,Acura,MDX SH-AWD,0.220930,3.5,6.0,0.089852,12.600000,9.4,11.2,25,263,4,5,0,0,0,1
2,2022,Acura,RDX SH-AWD,0.220930,2.0,4.0,0.089852,12.515948,8.6,9.9,29,232,5,6,0,0,0,1
3,2022,Acura,RDX SH-AWD A-SPEC,0.220930,2.0,4.0,0.089852,11.300000,9.1,10.3,27,242,5,6,0,0,0,1
4,2022,Acura,TLX SH-AWD,0.070825,2.0,4.0,0.089852,11.200000,8.0,9.8,29,230,5,7,0,0,0,1

# **Esta seccion es una modificacion respecto a lo realizado anteriormente**

In [46]:
#Codificacion del atributo de "Model Year","Make","Model" con OrdinalEncoder
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
df4.iloc[:,[0,1,2]] = ordinal_encoder.fit_transform(df4.iloc[:,[0,1,2]])
df4.head(5)

<ipython-input-46-b0cbf86d10bd>:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df4.iloc[:,[0,1,2]] = ordinal_encoder.fit_transform(df4.iloc[:,[0,1,2]])

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating,Fuel Type_D,Fuel Type_E,Fuel Type_X,Fuel Type_Z
0,0.0,0.0,350.0,0.070825,2.4,4.0,0.054968,9.900000,7.0,8.6,33,200,6,3,0,0,0,1
1,0.0,0.0,411.0,0.220930,3.5,6.0,0.089852,12.600000,9.4,11.2,25,263,4,5,0,0,0,1
2,0.0,0.0,513.0,0.220930,2.0,4.0,0.089852,12.515948,8.6,9.9,29,232,5,6,0,0,0,1
3,0.0,0.0,514.0,0.220930,2.0,4.0,0.089852,11.300000,9.1,10.3,27,242,5,6,0,0,0,1
4,0.0,0.0,615.0,0.070825,2.0,4.0,0.089852,11.200000,8.0,9.8,29,230,5,7,0,0,0,1

In [47]:
#Escalado de los atributos
from sklearn.preprocessing import MinMaxScaler
scalerMinMax = MinMaxScaler()
df4.iloc[:,[0,1,2,4,5,7,8,9,10,11,13]] = scalerMinMax.fit_transform(df4.iloc[:,[0,1,2,4,5,7,8,9,10,11,13]])
df4.head()

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating,Fuel Type_D,Fuel Type_E,Fuel Type_X,Fuel Type_Z
0,0.0,0.0,0.490196,0.070825,0.176471,0.076923,0.054968,0.224335,0.182353,0.208145,0.366667,0.206226,6,0.333333,0,0,0,1
1,0.0,0.0,0.575630,0.220930,0.338235,0.230769,0.089852,0.326996,0.323529,0.325792,0.233333,0.328794,4,0.666667,0,0,0,1
2,0.0,0.0,0.718487,0.220930,0.117647,0.076923,0.089852,0.323800,0.276471,0.266968,0.300000,0.268482,5,0.833333,0,0,0,1
3,0.0,0.0,0.719888,0.220930,0.117647,0.076923,0.089852,0.277567,0.305882,0.285068,0.266667,0.287938,5,0.833333,0,0,0,1
4,0.0,0.0,0.861345,0.070825,0.117647,0.076923,0.089852,0.273764,0.241176,0.262443,0.300000,0.264591,5,1.000000,0,0,0,1

In [48]:
#Por si tengo que quitar el clasificador
#x=df4.iloc[:,[3,4,5,6,7,8,9,10,11,13]]
#y=df4.iloc[:,12]

#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

----------------------------------------------------------------------------------------------

In [49]:
#Seleccion de los mejores atributos para el entrenamiento de nuestros modelos
from sklearn.model_selection import train_test_split
x=df4.iloc[:,[0,1,2,4,5,7,8,9,10,11,13]]
y=df4.iloc[:,12]

#Utilizare la libreria de RandomForestClassifier
#Primero importamos la libreria y la funcion necesaria
from sklearn.ensemble import RandomForestClassifier

#Para dicho metodo, es necesario tener en cuenta que los valores de clasificacion deben ser numericos (0,1,2,3,etc)
#Como este data frame ya contiene este tipo de clasificacion, no es necesario realizar dicha conversion
#Sabiendo eso, creamos una variable con la funcionalidad del metodo
clf = RandomForestClassifier()

#Entrenamos el clasificador de bosque aleatorio
clf.fit(x,y)

# Obtiene la importancia de las características
importances = clf.feature_importances_

# Crea un DataFrame para visualizar las importancias
feature_importances = pd.DataFrame({'feature': x.columns, 'importance': importances})

# Ordena las características por importancia
sorted_features = feature_importances.sort_values(by='importance', ascending=False)

print(sorted_features)

                              feature  importance
9                 CO2 Emissions(g/km)    0.371145
7   Fuel Consumption(Comb (L/100 km))    0.227093
8        Fuel Consumption(Comb (mpg))    0.163836
5   Fuel Consumption (City (L/100 km)    0.095515
6    Fuel Consumption(Hwy (L/100 km))    0.068639
3                      Engine Size(L)    0.030553
4                           Cylinders    0.017957
10                        Smog Rating    0.009706
2                               Model    0.009279
1                                Make    0.006278
0                          Model Year    0.000000

In [50]:
#Ahora seleccionaremos nuestros atributos y crearemos una nueva variable para almacenar los mas recomendables
x2 = x.iloc[:,[9,7,8,5,6,3,4]]
x2.info()

#x_train, x_test, y_train, y_test = train_test_split(x2,y,test_size=0.2,random_state=42)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946 entries, 0 to 945
Data columns (total 7 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CO2 Emissions(g/km)                946 non-null    float64
 1   Fuel Consumption(Comb (L/100 km))  946 non-null    float64
 2   Fuel Consumption(Comb (mpg))       946 non-null    float64
 3   Fuel Consumption (City (L/100 km)  946 non-null    float64
 4   Fuel Consumption(Hwy (L/100 km))   946 non-null    float64
 5   Engine Size(L)                     946 non-null    float64
 6   Cylinders                          946 non-null    float64
dtypes: float64(7)
memory usage: 51.9 KB

# **Entrenamiento de los dos modelos para la clasificacion**

In [66]:
#Empezamos con un modelo muy utlizado, el cual es el modelo de maquina de vectores, donde sacaremos un score, el cual es "Accuracy"
#Primero importamos dos librerias, la de SVC, y cross val score para el entrenamiento y calcular el resultado del score.
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

#Se crea un objeto con la funcion de la libreria Random Forest
smv = SVC()

#Se entrena el modelo con cross val score
scores = cross_val_score(smv, x2, y, scoring="accuracy", cv=5, n_jobs=-1)
print(scores)
print(scores.mean())

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

[0.84736842 0.84126984 0.85714286 0.89417989 0.92063492]
0.872119186856029

In [67]:
#Ahora Utilizaremos un modelo de tipo "Red Neuronal", en este caso es para la clasificacion, el cual utilizare MLP(Red Neuronal Multicapa)

#Primero importamos la libreria
from sklearn.neural_network import MLPClassifier

#Ahora creamos un objeto con la funcion de la libreria importada y le agregaremos unos parametros para el metodo de entrenamiento
modeloMLP = MLPClassifier(hidden_layer_sizes = (16,40,12), max_iter=800, activation = 'relu', solver = 'adam')

#Al igual que en el anterior modelo, utilizamos la libreria k-fold cross validation para realizar el entrenamiento y sacar un score, que sigue siento "Accuracy"
scores = cross_val_score(modeloMLP, x2, y, scoring="accuracy", cv=5, n_jobs=-1)
print(scores)
print(scores.mean())

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

[0.96315789 0.88888889 0.92592593 0.97354497 0.98941799]
0.948187134502924

----------------------------------------------------------------------------------------------------------------------------------------------------------------

# **Ahora vamos con los dos modelos de regresion**

In [70]:
rf = pd.read_csv('https://raw.githubusercontent.com/OswaldoYair/searchMoreSalud/main/demojpy/Datasets%20Protecto%20mes%202/CrabAgePrediction.csv')
rf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3893 entries, 0 to 3892
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             3885 non-null   object
 1   Length          3888 non-null   float64
 2   Diameter        3890 non-null   float64
 3   Height          3889 non-null   float64
 4   Weight          3887 non-null   float64
 5   Shucked Weight  3890 non-null   float64
 6   Viscera Weight  3890 non-null   float64
 7   Shell Weight    3889 non-null   float64
 8   Age             3884 non-null   float64
dtypes: float64(8), object(1)
memory usage: 273.9+ KB

In [54]:
#Tratamiento de los valores nulos
rf.isna().sum()

Sex               8
Length            5
Diameter          3
Height            4
Weight            6
Shucked Weight    3
Viscera Weight    3
Shell Weight      4
Age               9
dtype: int64

In [55]:
#Relleno datos nulos de la columna "Sex" con la moda
rf['Sex']=rf['Sex'].fillna(rf['Sex'].mode()[0])
rf.isnull().sum()

Sex               0
Length            5
Diameter          3
Height            4
Weight            6
Shucked Weight    3
Viscera Weight    3
Shell Weight      4
Age               9
dtype: int64

In [56]:
#Los siguientes atributos por rellenar, son 7, los cuales utilizare la funcion de promedio para cada uno, y seria de la siguiente manera
rf.iloc[:,[1,2,3,4,5,6,7]]=rf.iloc[:,[1,2,3,4,5,6,7]].fillna(rf.iloc[:,[1,2,3,4,5,6,7]].mean())
rf.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Weight            0
Shucked Weight    0
Viscera Weight    0
Shell Weight      0
Age               9
dtype: int64

In [57]:
#El ultimo atributo es la de "Age" y para este solo utlizare la mediana
rf['Age']=rf['Age'].fillna(rf['Age'].median())
rf.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Weight            0
Shucked Weight    0
Viscera Weight    0
Shell Weight      0
Age               0
dtype: int64

In [58]:
#Codificacion "Sex" con "One hot"
rf = pd.get_dummies(rf, columns=['Sex'], dtype=int)
rf.isnull().sum()

Length            0
Diameter          0
Height            0
Weight            0
Shucked Weight    0
Viscera Weight    0
Shell Weight      0
Age               0
Sex_F             0
Sex_I             0
Sex_M             0
dtype: int64

In [59]:
#Estandarizacion de datos
from sklearn.preprocessing import MinMaxScaler
scalerMinMax = MinMaxScaler()
rf.iloc[:,[0,1,2,4,5,6,7,8,9,10]] = scalerMinMax.fit_transform(rf.iloc[:,[0,1,2,4,5,6,7,8,9,10]])
rf.head()

<ipython-input-59-030e2fa25351>:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  rf.iloc[:,[0,1,2,4,5,6,7,8,9,10]] = scalerMinMax.fit_transform(rf.iloc[:,[0,1,2,4,5,6,7,8,9,10]])

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,Sex_F,Sex_I,Sex_M
0,0.675676,0.697479,0.146018,24.635715,0.291863,0.258723,0.235675,0.285714,1.0,0.0,0.0
1,0.378378,0.344538,0.075221,5.400580,0.053800,0.063199,0.053313,0.178571,0.0,0.0,1.0
2,0.459459,0.428571,0.088496,7.952035,0.075992,0.073733,0.095665,0.178571,0.0,1.0,0.0
3,0.533784,0.504202,0.088496,13.480187,0.111970,0.105332,0.182860,0.321429,1.0,0.0,0.0
4,0.378378,0.352941,0.075221,6.903103,0.081372,0.068466,0.058296,0.178571,0.0,1.0,0.0

In [60]:
#Separacion de los atributos en X e Y
xr = rf.drop(['Weight'], axis=1)
yr = rf['Weight']

In [61]:
xr.head(5)

,Length,Diameter,Height,Shucked Weight,Viscera Weight,Shell Weight,Age,Sex_F,Sex_I,Sex_M
0,0.675676,0.697479,0.146018,0.291863,0.258723,0.235675,0.285714,1.0,0.0,0.0
1,0.378378,0.344538,0.075221,0.053800,0.063199,0.053313,0.178571,0.0,0.0,1.0
2,0.459459,0.428571,0.088496,0.075992,0.073733,0.095665,0.178571,0.0,1.0,0.0
3,0.533784,0.504202,0.088496,0.111970,0.105332,0.182860,0.321429,1.0,0.0,0.0
4,0.378378,0.352941,0.075221,0.081372,0.068466,0.058296,0.178571,0.0,1.0,0.0

In [62]:
yr.head(5)

0    24.635715
1     5.400580
2     7.952035
3    13.480187
4     6.903103
Name: Weight, dtype: float64

# **Entrenamiento de los dos modelos**

In [63]:
#Comenzamos con un modelo de regresion muy utlizado, el cual es "RandomForestRegressor", donde sacaremos un score, el cual es r2.
#Primero importamos dos librerias, la de random forest, numpy para calcular el promedio y cross val score para el entrenamiento y calcular el resultado del score.
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import numpy as np

#Se crea un objeto con la funcion de la libreria Random Forest
modelo = RandomForestRegressor(random_state=None)

#Se entrena el modelo con cross val score
scoresClasifForest = cross_val_score(modelo, xr, yr, scoring="r2", cv=5, n_jobs=-1)
print(scoresClasifForest)
print(np.mean(scoresClasifForest))

[0.98821187 0.98724697 0.99116776 0.98173412 0.9868134 ]
0.9870348238469253

In [64]:
#Con el segundo modelo, se utilizara una "Red Neuronal" pero para regresion

In [69]:
import tensorflow as tf
from tensorflow.keras import layers
from sklearn.metrics import r2_score

# Definir el modelo de red neuronal para regresión
#model = tf.keras.Sequential([
    #layers.Dense(units = 12, input_dim = 10, activation="relu"),
    #layers.Dense(64, activation='relu'),
    #layers.Dense(1)  # Capa de salida lineal para regresión
#])

# Compilar el modelo
#model.compile(optimizer='adam', loss='mean_squared_error')

# Entrenar el modelo
#model.fit(x_train, y_train, epochs=10, validation_data=(xr, yr))

#Para Metrica con cross validated
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import KFold

def create_model():
  model = Sequential()
  model.add(Dense(12, input_dim=10, activation='relu'))
  model.add(Dense(64, activation='relu'))
  model.add(Dense(1, activation='softmax'))
  model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
  return model



kfold = KFold(n_splits=5, shuffle=True, random_state=42)

for train_index, test_index in kfold.split(xr):
    Xr_train, Xr_test = xr[train_index], xr[test_index]
    yr_train, yr_test = yr[train_index], yr[test_index]

    model = create_model()
    model.fit(Xr_train, yr_train, epochs=100, verbose=0)

    yr_pred = model.predict(Xr_test)
    yr_pred = tf.argmax(yr_pred, axis=1)
    yr_test = tf.constant(yr_test)

    accuracy = r2_score(yr_test, yr_pred)
    print(f'Accuracy: {accuracy}')

# Realizar predicciones con el modelo
#y_pred = model.predict(x_test)

# Calcular el coeficiente R2
#r2 = r2_score(y_test, y_pred)

#print("Coeficiente R2:", r2)

KeyError: ignored