In [63]:
import pandas as pd
df = pd.read_csv('examen2023parc2.csv')
df.head(10)

,lstat,ID,chas,rad,ptratio,black,tax,pool,cat_dis,crim,cat_age,medv,zn,nox,rm,indus,palux,garb
0,4.98,1,0,1,15.3,396.90,296,NaN,Lejos,0.00632,Casi nueva,24.0,18.0,0.538,6.575,2.31,-4.898979,0.374540
1,9.14,2,0,2,17.8,396.90,242,NaN,Lejos,0.02731,Antigua,21.6,0.0,0.469,6.421,7.07,-4.647580,0.950714
2,2.94,4,0,3,18.7,394.63,222,NaN,Muy lejos,0.03237,Casi nueva,33.4,0.0,0.458,6.998,2.18,-5.779273,0.731994
3,5.33,5,0,3,18.7,396.90,222,NaN,Muy lejos,0.06905,Casi nueva,36.2,0.0,0.458,7.147,2.18,-6.016644,0.598658
4,12.43,7,0,5,15.2,395.60,311,NaN,Muy lejos,0.08829,Casi nueva,22.9,12.5,0.524,6.012,7.87,-4.785394,0.156019
5,20.45,11,0,5,15.2,392.52,311,NaN,Muy lejos,0.22489,Muy antigua,15.0,12.5,0.524,6.377,7.87,-3.872983,0.155995
6,13.27,12,0,5,15.2,396.90,311,NaN,Muy lejos,0.11747,Antigua,18.9,12.5,0.524,6.009,7.87,-4.347413,0.058084
7,15.71,13,0,5,15.2,390.50,311,NaN,Muy lejos,0.09378,Nueva,21.7,12.5,0.524,5.889,7.87,-4.658326,0.866176
8,8.26,14,0,4,21.0,396.90,307,NaN,Lejos,0.62976,Casi nueva,20.4,0.0,0.538,5.949,8.14,-4.516636,0.601115
9,10.26,15,0,4,21.0,380.02,307,NaN,Lejos,0.63796,Antigua,18.2,0.0,0.538,6.096,8.14,-4.266146,0.708073

In [64]:
df['cat_age'].unique()

array(['Casi nueva', 'Antigua', 'Muy antigua', 'Nueva'], dtype=object)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   lstat    333 non-null    float64
 1   ID       333 non-null    int64
 2   chas     333 non-null    int64
 3   rad      333 non-null    int64
 4   ptratio  333 non-null    float64
 5   black    333 non-null    float64
 6   tax      333 non-null    int64
 7   pool     0 non-null      float64
 8   cat_dis  294 non-null    object
 9   crim     307 non-null    float64
 10  cat_age  333 non-null    object
 11  medv     333 non-null    float64
 12  zn       333 non-null    float64
 13  nox      333 non-null    float64
 14  rm       333 non-null    float64
 15  indus    320 non-null    float64
 16  palux    333 non-null    float64
 17  garb     333 non-null    float64
dtypes: float64(12), int64(4), object(2)
memory usage: 47.0+ KB

In [66]:
df.isnull().sum()

lstat        0
ID           0
chas         0
rad          0
ptratio      0
black        0
tax          0
pool       333
cat_dis     39
crim        26
cat_age      0
medv         0
zn           0
nox          0
rm           0
indus       13
palux        0
garb         0
dtype: int64

In [67]:
df

,lstat,ID,chas,rad,ptratio,black,tax,pool,cat_dis,crim,cat_age,medv,zn,nox,rm,indus,palux,garb
0,4.98,1,0,1,15.3,396.90,296,NaN,Lejos,0.00632,Casi nueva,24.0,18.0,0.538,6.575,2.31,-4.898979,0.374540
1,9.14,2,0,2,17.8,396.90,242,NaN,Lejos,0.02731,Antigua,21.6,0.0,0.469,6.421,7.07,-4.647580,0.950714
2,2.94,4,0,3,18.7,394.63,222,NaN,Muy lejos,0.03237,Casi nueva,33.4,0.0,0.458,6.998,2.18,-5.779273,0.731994
3,5.33,5,0,3,18.7,396.90,222,NaN,Muy lejos,0.06905,Casi nueva,36.2,0.0,0.458,7.147,2.18,-6.016644,0.598658
4,12.43,7,0,5,15.2,395.60,311,NaN,Muy lejos,0.08829,Casi nueva,22.9,12.5,0.524,6.012,7.87,-4.785394,0.156019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,15.10,500,0,6,19.2,395.77,391,NaN,Cerca,0.17783,Casi nueva,17.5,0.0,0.585,5.569,9.69,-4.183300,0.419600
329,9.67,502,0,1,21.0,391.99,273,NaN,Cerca,0.06263,Casi nueva,22.4,0.0,0.573,6.593,11.93,-4.732864,0.247731
330,9.08,503,0,1,21.0,396.90,273,NaN,Cerca,0.04527,Casi nueva,20.6,0.0,0.573,6.120,11.93,-4.538722,0.355973
331,5.64,504,0,1,21.0,396.90,273,NaN,Cerca,0.06076,Antigua,23.9,0.0,0.573,6.976,11.93,-4.888763,0.757846
332,7.88,506,0,1,21.0,396.90,273,NaN,Cerca,0.04741,Antigua,11.9,0.0,0.573,6.030,11.93,-3.449638,0.014393

In [68]:
#Tratado de nulos
df['cat_dis']=df['cat_dis'].fillna(df['cat_dis'].mode()[0])
df.isnull().sum()

lstat        0
ID           0
chas         0
rad          0
ptratio      0
black        0
tax          0
pool       333
cat_dis      0
crim        26
cat_age      0
medv         0
zn           0
nox          0
rm           0
indus       13
palux        0
garb         0
dtype: int64

In [69]:
df['crim']=df['crim'].fillna(df['crim'].mean())
df.isnull().sum()

lstat        0
ID           0
chas         0
rad          0
ptratio      0
black        0
tax          0
pool       333
cat_dis      0
crim         0
cat_age      0
medv         0
zn           0
nox          0
rm           0
indus       13
palux        0
garb         0
dtype: int64

In [70]:
df['indus']=df['indus'].fillna(df['indus'].median())
df.isnull().sum()

lstat        0
ID           0
chas         0
rad          0
ptratio      0
black        0
tax          0
pool       333
cat_dis      0
crim         0
cat_age      0
medv         0
zn           0
nox          0
rm           0
indus        0
palux        0
garb         0
dtype: int64

In [71]:
#Atributo Model o modelo - Nueva clase
df['pool']=df['pool'].fillna('Desconocido')
df.isnull().sum()

lstat      0
ID         0
chas       0
rad        0
ptratio    0
black      0
tax        0
pool       0
cat_dis    0
crim       0
cat_age    0
medv       0
zn         0
nox        0
rm         0
indus      0
palux      0
garb       0
dtype: int64

In [72]:
df = pd.get_dummies(df, columns=['cat_dis'], dtype=int)
df.isnull().sum()

lstat                0
ID                   0
chas                 0
rad                  0
ptratio              0
black                0
tax                  0
pool                 0
crim                 0
cat_age              0
medv                 0
zn                   0
nox                  0
rm                   0
indus                0
palux                0
garb                 0
cat_dis_Cerca        0
cat_dis_Lejos        0
cat_dis_Muy cerca    0
cat_dis_Muy lejos    0
dtype: int64

In [73]:
df = pd.get_dummies(df, columns=['cat_age'], dtype=int)
df.isnull().sum()

lstat                  0
ID                     0
chas                   0
rad                    0
ptratio                0
black                  0
tax                    0
pool                   0
crim                   0
medv                   0
zn                     0
nox                    0
rm                     0
indus                  0
palux                  0
garb                   0
cat_dis_Cerca          0
cat_dis_Lejos          0
cat_dis_Muy cerca      0
cat_dis_Muy lejos      0
cat_age_Antigua        0
cat_age_Casi nueva     0
cat_age_Muy antigua    0
cat_age_Nueva          0
dtype: int64

In [74]:
df = df.drop('pool', axis=1)

In [75]:
df = df.drop('ID', axis=1)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   lstat                333 non-null    float64
 1   chas                 333 non-null    int64
 2   rad                  333 non-null    int64
 3   ptratio              333 non-null    float64
 4   black                333 non-null    float64
 5   tax                  333 non-null    int64
 6   crim                 333 non-null    float64
 7   medv                 333 non-null    float64
 8   zn                   333 non-null    float64
 9   nox                  333 non-null    float64
 10  rm                   333 non-null    float64
 11  indus                333 non-null    float64
 12  palux                333 non-null    float64
 13  garb                 333 non-null    float64
 14  cat_dis_Cerca        333 non-null    int32
 15  cat_dis_Lejos        333 non-null    int32
 16  cat_dis_Muy cerca    333 non-null    int32
 17  cat_dis_Muy lejos    333 non-null    int32
 18  cat_age_Antigua      333 non-null    int32
 19  cat_age_Casi nueva   333 non-null    int32
 20  cat_age_Muy antigua  333 non-null    int32
 21  cat_age_Nueva        333 non-null    int32
dtypes: float64(11), int32(8), int64(3)
memory usage: 47.0 KB

In [80]:
x = df.drop('medv', axis=1)
y = df['medv']

In [81]:
x

,lstat,chas,rad,ptratio,black,tax,crim,zn,nox,rm,...,palux,garb,cat_dis_Cerca,cat_dis_Lejos,cat_dis_Muy cerca,cat_dis_Muy lejos,cat_age_Antigua,cat_age_Casi nueva,cat_age_Muy antigua,cat_age_Nueva
0,4.98,0,1,15.3,396.90,296,0.00632,18.0,0.538,6.575,...,-4.898979,0.374540,0,1,0,0,0,1,0,0
1,9.14,0,2,17.8,396.90,242,0.02731,0.0,0.469,6.421,...,-4.647580,0.950714,0,1,0,0,1,0,0,0
2,2.94,0,3,18.7,394.63,222,0.03237,0.0,0.458,6.998,...,-5.779273,0.731994,0,0,0,1,0,1,0,0
3,5.33,0,3,18.7,396.90,222,0.06905,0.0,0.458,7.147,...,-6.016644,0.598658,0,0,0,1,0,1,0,0
4,12.43,0,5,15.2,395.60,311,0.08829,12.5,0.524,6.012,...,-4.785394,0.156019,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,15.10,0,6,19.2,395.77,391,0.17783,0.0,0.585,5.569,...,-4.183300,0.419600,1,0,0,0,0,1,0,0
329,9.67,0,1,21.0,391.99,273,0.06263,0.0,0.573,6.593,...,-4.732864,0.247731,1,0,0,0,0,1,0,0
330,9.08,0,1,21.0,396.90,273,0.04527,0.0,0.573,6.120,...,-4.538722,0.355973,1,0,0,0,0,1,0,0
331,5.64,0,1,21.0,396.90,273,0.06076,0.0,0.573,6.976,...,-4.888763,0.757846,1,0,0,0,1,0,0,0
332,7.88,0,1,21.0,396.90,273,0.04741,0.0,0.573,6.030,...,-3.449638,0.014393,1,0,0,0,1,0,0,0

In [79]:
y

0      24.0
1      21.6
2      33.4
3      36.2
4      22.9
       ...
328    17.5
329    22.4
330    20.6
331    23.9
332    11.9
Name: medv, Length: 333, dtype: float64

In [82]:
#Ahora se realizara un ejemplo, pero utilizando arboles de decision, por lo que primero imcluimos la liberia
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()

regressor.fit(x, y)

importances = regressor.feature_importances_

feature_importances = pd.DataFrame({'Atributo': x.columns, 'Importancia': importances})

feature_importances = feature_importances.sort_values('Importancia', ascending=False)

feature_importances.head(17)

              Atributo  Importancia
11               palux     0.998818
0                lstat     0.000152
12                garb     0.000143
6                 crim     0.000126
3              ptratio     0.000124
4                black     0.000104
9                   rm     0.000104
13       cat_dis_Cerca     0.000079
10               indus     0.000061
8                  nox     0.000056
2                  rad     0.000048
5                  tax     0.000041
7                   zn     0.000036
17     cat_age_Antigua     0.000036
1                 chas     0.000022
18  cat_age_Casi nueva     0.000017
14       cat_dis_Lejos     0.000012

In [86]:
xr = x.iloc[:,[11,0,12,6,3]]
xr

        palux  lstat      garb     crim  ptratio
0   -4.898979   4.98  0.374540  0.00632     15.3
1   -4.647580   9.14  0.950714  0.02731     17.8
2   -5.779273   2.94  0.731994  0.03237     18.7
3   -6.016644   5.33  0.598658  0.06905     18.7
4   -4.785394  12.43  0.156019  0.08829     15.2
..        ...    ...       ...      ...      ...
328 -4.183300  15.10  0.419600  0.17783     19.2
329 -4.732864   9.67  0.247731  0.06263     21.0
330 -4.538722   9.08  0.355973  0.04527     21.0
331 -4.888763   5.64  0.757846  0.06076     21.0
332 -3.449638   7.88  0.014393  0.04741     21.0

[333 rows x 5 columns]

In [89]:
from sklearn.model_selection import cross_val_score
import numpy as np

#Se crea un objeto con la funcion de la libreria Random Forest
modelo = RandomForestRegressor(random_state=None)

#Se entrena el modelo con cross val score
scoresClasifForest = cross_val_score(modelo, xr, y, scoring="r2", cv=5, n_jobs=-1)
print(scoresClasifForest)
print(np.mean(scoresClasifForest))

[0.99969068 0.99832183 0.98116346 0.99827277 0.99833746]
0.9951572395122306